@mixin flex($display, $justify, $align){
    display:$display !important;
    justify-content:$justify !important;
    align-items:$align !important;
}
@mixin blokcentar {
    width:80%;
    height:90%;
}
@mixin boje1{
    background-color: $primarnaboja1;
    color:$bojaslova;
}
@mixin boje2{
    background-color: $primarnaboja2;
    color:$bojaslova;
}
@mixin padanje {
    display: flex !important;
    flex-wrap: wrap !important;
}
@mixin margina5{
    margin-top: 5px!important;
    margin-bottom: 5px !important;
}