$primarnaboja1: #252222;
$primarnaboja2: #333333;
$bojaslova: #E0E0E0;
$font:"Lato", sans-serif;
$fontsize: (
    "devetnaest":19px,
    "dvadeset":20px,
    "dvadesetpet":25px,
    "stopedeset":150px,
    "trinaest": 13px,
    "petnaest": 15px
);
$sirina90: 90% ;
$visina600: 600px;
$visina550: 550px;
$radius: 20px;


